{% extends 'layouts/base.html' %}
{% block main %}

<div class="article p-tb-10 w-50 m-lr-auto">
    <h1 class="m-tb-10 p-t-10">
        <i class="icon--085 icon--x2"></i>
        Hooray – it works!
    </h1>
    <p class="fs-20 lh-30">You successfully installed <strong>Yoshino UI Core</strong> and <strong>Yoshino Boilerplate</strong> – a powerful setup that makes building websites a breeze.</p>
    <p class="m-t-6">Check out the <a href="https://yoshino.digital/ui-core/docs/">the Yoshino UI Core Docs</a> to learn more about this library and how to use it.</p>
</div>

{% endblock %}