{% extends '_layouts/_base.njk' %}
{% block main %}

<div class="article h-viewport center">
    <div class="w-30 m-t-neg-30">
        <h1 class="m-tb-10" data-sparkle>Hooray – it works!</h1>
        <p class="fs-20 lh-30">Your new Yoi-project is up and running! Check out the <a href="https://yoshino-digital.github.io/yoi/start/">the documentation</a> to learn more.</p>
    </div>
</div>

{% endblock %}