/** breakpoints.less */

@bpSmall:  ~"only screen and (min-width: 1px) and (max-width: 699px)";
@bpMedium: ~"only screen and (min-width: 700px) and (max-width: 959px)";
@bpLarge:  ~"only screen and (min-width: 960px) and (max-width: 1219px)";
@bpXLarge: ~"only screen and (min-width: 1220px)";
