/** breakpoints.less */

// "strict" breakpoints

@bp-only-s  : ~"only screen and (min-width: 1px) and (max-width: 699px)";
@bp-only-m  : ~"only screen and (min-width: 700px) and (max-width: 959px)";
@bp-only-l  : ~"only screen and (min-width: 960px) and (max-width: 1219px)";
@bp-only-xl : ~"only screen and (min-width: 1220px)";

// "overlapping" breakpoints

@bp-from-s  : ~"only screen and (max-width: 700px)";
@bp-from-m  : ~"only screen and (min-width: 701px)";
@bp-from-l  : ~"only screen and (min-width: 960px)";
@bp-from-xl : ~"only screen and (min-width: 1220px)";
