/** options.less */

@cdnDomain                     : 'cdn.yoshino.digital';
@broadCastActiveMediaqueryToJs : true;
@defaultBorderRadius           : 2;
// @utilityPrefix                 : '';
// @componentPrefix               : 'yoi-';