/** typography.less */

// root typography
// ===============

@rootFontSize: 10px; // 10px | 0.625em;

@rootType: {
    -webkit-font-smoothing: antialiased;
    font-family: @font-sansserif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
};

// vertical rhythm
// ===============

@verticalRhythm: {
    margin-top: 4rem;
};

// fonts
// =====

// web font imports

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&subset=latin-ext';

// font families

@font-mono:      'Courier', monospace;
@font-sansserif: 'Open Sans', sans-serif;
@font-serif:     'Georgia', serif;

// headings
// ========

@h1: {
    font-family: @font-sansserif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.125;
};

@h2: {
    font-family: @font-sansserif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
};

@h3: {
    font-family: @font-sansserif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
};

@h4: {
    font-family: @font-sansserif;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.45;
};

@h5: {
    font-family: @font-sansserif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
};

@h6: {
    font-family: @font-sansserif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 1.5;
    text-transform: uppercase;
};
